<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/icon/favicon.ico" type="image/x-icon">
    <title>Halaman Utama - Suka Makan</title>
</head>

<body>
    <a href="#search" class="skip">
        Lewati ke penelusuran
    </a>
    <a href="#hero" class="skip">
        Lewati ke konten
    </a>
    <header>
        <img class="logo" src="./images/icon/icon.png" alt="Logo Suka Makan">
        <h1>Suka Makan</h1>
        <ul class="navigation">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Favorit</a>
            </li>
            <li>
                <a href="https://github.com/bayusamudra5502">Tentang Kami</a>
            </li>
        </ul>
        <button class="burger" aria-label="Buka Laci Navigasi">
            <img src="./images/assets/burger.png">
        </button>
    </header>
    <div class="hero" id="hero">
        <div class="message">
            <p class="jumbo">Cari dan temukan</p>
            <p>Restoran yang paling cocok bagi anda</p>
        </div>
        <img src="./images/heros/hero-image_2.jpg" alt="">
        <div class="overlay"></div>
    </div>
    <main>
    </main>
    <footer>Copyright Suka Makan © 2020</footer>
    <div class="overlay hide"></div>
</body>

</html>