<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/icon/favicon.ico" type="image/x-icon">
    <title>Halaman Utama - Suka Makan</title>
</head>

<body>
    <a href="#search" class="skip">
        Lewati ke penelusuran
    </a>
    <a href="#hero" class="skip">
        Lewati ke konten
    </a>
    <header>
        <img class="logo" src="./images/icon/icon.png" alt="Logo Suka Makan">
        <h1>Suka Makan</h1>
        <ul class="navigation">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Favorit</a>
            </li>
            <li>
                <a href="https://github.com/bayusamudra5502">Tentang Kami</a>
            </li>
        </ul>
        <button class="burger" aria-label="Buka Laci Navigasi">
            <img src="./images/assets/burger.png">
        </button>
    </header>
    <section class="hero" id="hero">
        <div class="message">
            <p class="jumbo">Cari dan temukan</p>
            <p>Restoran yang paling cocok bagi anda</p>
        </div>
        <img src="./images/heros/hero-image_2.jpg" alt="">
        <div class="overlay"></div>
    </section>
    <main>
        <h2>Daftar Restoran</h2>
        <section id="search" class="search-bar">
            <input name="keyword" placeholder="Cari Restoran">
            <button aria-label="Memulai Pencarian">
                <img src="./images/assets/search.svg" alt="">
            </button>
        </section>
        <section class="result">
            <div class="card">
                <img class="banner" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Gambar Restoran">
                <div class="content">
                    <h3>Nama Restoran</h3>
                    <button class="bookmark" aria-label="Simpan sebagai bookmark" title="Tambahkan Bookmark">
                        <img src="./images/assets/bookmark.png" alt="Bookmark">
                    </button>

                    <!-- Lokasi -->
                    <img src="./images/assets/pin.png" alt="Lokasi">
                    <p>Kota Bandung</p>

                    <!-- Rating -->
                    <img src="./images/assets/star.png" alt="Bintang Reputasi">
                    <p>4.5</p>

                    <p aria-label="Deskripsi Restoran" class="description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa. Cum sociis natoque penatibus et
                    </p>

                    <button class="btn detail">
                        Lihat Detail
                    </button>
                </div>
            </div>
            <div class="card">
                <img class="banner" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Gambar Restoran">
                <div class="content">
                    <h3>Nama Restoran</h3>
                    <button class="bookmark" aria-label="Simpan sebagai bookmark" title="Tambahkan Bookmark">
                        <img src="./images/assets/bookmark.png" alt="Bookmark">
                    </button>

                    <!-- Lokasi -->
                    <img src="./images/assets/pin.png" alt="Lokasi">
                    <p>Kota Bandung</p>

                    <!-- Rating -->
                    <img src="./images/assets/star.png" alt="Bintang Reputasi">
                    <p>4.5</p>

                    <p aria-label="Deskripsi Restoran" class="description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa. Cum sociis natoque penatibus et
                    </p>

                    <button class="btn detail">
                        Lihat Detail
                    </button>
                </div>
            </div>
            <div class="card">
                <img class="banner" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Gambar Restoran">
                <div class="content">
                    <h3>Nama Restoran</h3>
                    <button class="bookmark" aria-label="Simpan sebagai bookmark" title="Tambahkan Bookmark">
                        <img src="./images/assets/bookmark.png" alt="Bookmark">
                    </button>

                    <!-- Lokasi -->
                    <img src="./images/assets/pin.png" alt="Lokasi">
                    <p>Kota Bandung</p>

                    <!-- Rating -->
                    <img src="./images/assets/star.png" alt="Bintang Reputasi">
                    <p>4.5</p>

                    <p aria-label="Deskripsi Restoran" class="description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa. Cum sociis natoque penatibus et
                    </p>

                    <button class="btn detail">
                        Lihat Detail
                    </button>
                </div>
            </div>
            <div class="card">
                <img class="banner" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Gambar Restoran">
                <div class="content">
                    <h3>Nama Restoran</h3>
                    <button class="bookmark" aria-label="Simpan sebagai bookmark" title="Tambahkan Bookmark">
                        <img src="./images/assets/bookmark.png" alt="Bookmark">
                    </button>

                    <!-- Lokasi -->
                    <img src="./images/assets/pin.png" alt="Lokasi">
                    <p>Kota Bandung</p>

                    <!-- Rating -->
                    <img src="./images/assets/star.png" alt="Bintang Reputasi">
                    <p>4.5</p>

                    <p aria-label="Deskripsi Restoran" class="description">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa. Cum sociis natoque penatibus et
                    </p>

                    <button class="btn detail">
                        Lihat Detail
                    </button>
                </div>
            </div>
        </section>
    </main>
    <footer>Copyright Suka Makan © 2020</footer>
    <div class="overlay hide"></div>
</body>

</html>