.card {
  background-color: #fff;
  overflow: hidden;

  img.banner-card {
    width: 100%;
  }

  box-shadow: 3px 4px 10px rgba(143, 143, 143, 0.25);
  border-radius: 10px;

  .content {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 3px;
    align-items: center;

    h3 {
      grid-column: 1/-2;
    }

    & > img {
      grid-column: 1 / span 1;
      justify-self: center;
    }

    & > img + p {
      grid-column: 2 / -1;
      margin: 5px;
    }

    .description {
      grid-column: 1/-1;
      text-align: justify;
      line-height: 1.4;
    }

    .detail {
      grid-column: -5/-1;
      text-decoration: none;
      text-align: center;
    }

    margin: 0 0 15px;
  }

  .bookmark {
    border: 0;
    background-color: transparent;
    padding: 15px;
    cursor: pointer;

    img{
      width: 22px;
    }
  }
}
