main {
  & > *{
    width: 100%;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  padding: 10px;
}

resto-list{
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  margin: 10px 10px;
  padding: 10px;
  display: grid;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  &.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
}
