header {
  display: grid;
  align-items: center;
  padding: 20px 25px 10px;
  grid-template-columns: 50px 1fr minmax(40px, auto);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  gap: 10px;

  .logo {
    display: block;
    width: 100%;
  }

  h1 {
    font-size: 1.3rem;
  }
}

.burger {
  display: block;
  padding: 13px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.navigation {
  display: none;
  gap: 10px;
  position: fixed;
  min-height: 100vh;
  top: 0;
  right: 0;
  width: 60%;
  background-color: white;
  z-index: 100;
  margin: 0;
  list-style: none;
  padding: 30px 20px;
  align-items: stretch;
  flex-direction: column;

  a {
    padding: 15px 10px;
    color: black;
    text-decoration: none;
    width: 100%;
    display: block;
  }

  a:hover {
    font-weight: bold;
  }

  .close-button button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 10px;
  }

  .skip {
    position: relative;
    background-color: transparent;
    padding: 0;
    top: 0;
    left: -100vw;
  }

  .skip:focus-within {
    position: static;
  }
}

.show-drawer {
  display: flex;
  height: 100%;
}

@media screen and (min-width: 550px) {
  .navigation {
    display: flex;
    position: static;
    min-height: fit-content;
    width: fit-content;
    background-color: transparent;
    padding: 0;
    flex-direction: row;

    a {
      padding: 15px;
    }

    .skip {
      display: none;
    }
  }

  .close-button {
    display: none;
  }

  .burger {
    display: none;
  }
}
