.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  max-height: 250px;
  position: relative;
  margin-bottom: 32px;

  picture-responsive {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, 55%);
  }

  .message {
    padding: 10px;
    position: absolute;
    color: white;
    z-index: 5;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 900px;
    font-size: 1rem;

    p {
      margin: 10px;
    }

    p.jumbo {
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  @media screen and (min-width: 700px) {
    max-height: 350px;

    .message {
      font-size: 1.3rem;
    }
  }
}

.banner {
  @extend .hero;
  max-height: 180px;

  .pin {
    height: 1em;
    width: auto;
  }

  div.location {
    margin: 0 10px;
    display: flex;
    align-items: center;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 70%);
  }

  @media screen and (min-width: 700px) {
    max-height: 220px;
  }
}

banner-component {
  display: block;
}

.favorite-container {
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.favorite-container .favorite-btn {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 30px;
  border: 0;
  background-color: #f50032;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 27px;
  }

  &:hover,
  &:active {
    background-color: #ac1130;
  }
}
