.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  max-height: 250px;
  position: relative;

  img {
    width: 100%;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 55%);
  }

  .message {
    padding: 10px;
    position: absolute;
    color: white;
    z-index: 10;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 900px;
    font-size: 1rem;

    p {
      margin: 10px;
    }

    p.jumbo {
      font-weight: bold;
      font-size: 1.5em;
    }
  }

  @media screen and (min-width: 700px) {
    max-height: 350px;

    .message {
      font-size: 1.3rem;
    }
  }
}
