@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

@import "header.scss";
@import "hero.scss";
@import "content.scss";
@import "search.scss";
@import "card.scss";
@import "footer.scss";
@import "modal.scss";
@import "message.scss";
@import "detail.scss";
@import "toast.scss";
@import "review.scss";

/* Variables */
$font-family: Cabin, sans-serif;

/* Global Rules */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: $font-family;
  height: fit-content;
  padding: 0;
  margin: 0;
}

app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.skip {
  padding: 10px;
  background-color: #f50032;
  position: absolute;
  color: white;
  font-weight: bold;
  top: -50px;
  left: 0;
}

.skip:focus {
  top: 0;
}

.overlay {
  background-color: rgb(0, 0, 0, 70%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.hide {
  display: none;
}

.btn {
  background: #f50032;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 13px;
  font-weight: bold;
}

.btn:hover, .btn:active {
  background: #ac1130;
}

button,
input {
  font-family: $font-family;
}

.box-overlay {
  z-index: 10;
  height: 100%;
  position: fixed;
}

h2 {
  text-align: center;
}