resto-modal {
  position: absolute;
  left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px 20px;
  max-width: 500px;
  width: 90%;
  border-radius: 5px;
  z-index: 200;
  box-sizing: border-box;
  display: grid;
  align-items: center;

  grid-template-columns: repeat(12, 1fr);

  img {
    margin: 0 auto;
  }

  .img-modal {
    grid-column: 1/-1;
    width: 100%;
    margin-bottom: 10px;
  }

  h3 {
    grid-column: 1/-3;
  }

  h4 {
    grid-column: 1/-1;
    margin: 0;
  }

  img + p {
    grid-column: 2/-1;
    margin: 10px;
  }

  .description {
    grid-column: 1/-1;
  }

  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 10px;
  }
}
