.review-writer form{
  display: flex;
  flex-direction: column;

  input, textarea  {
    display: block;
    margin: 10px 0;
    padding: 12px 14px;
    font-family: inherit;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
    border: 2px solid black;
  }

  button{
    max-width: 125px;
    width: 100%;

  }

  textarea{
    min-height: 100px;
  }
}

.review-item{
  display: block;
  background-color: white;
  padding: 15px;
  box-shadow: 3px 4px 10px rgba(143, 143, 143, 0.25);

  p{
    margin: 0;
  }

  .name{
    font-size: 1.1rem;
    font-weight: bold;
  }

  .date{
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
}

.review-container{
  display: grid;
  gap: 15px;
  @media screen and (min-width: 420px) {
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  }
  align-items: center;
}