.toast{
  display: block;
  position: relative;
  z-index: 100;
  left: 400px;

  &.show {
    display: block;
    left: 0;
  }

  padding: 15px 20px;
  transition: all 250ms ease-in-out;
  background-color: white;
  width: 100%;
  box-shadow: 3px 4px 10px rgba(143, 143, 143, 0.25);
  border-radius: 5px;


  &.success {
    max-width: 350px;
    border-left: 5px solid #2a9d8f;
    background-color: #c8f3d7;
  }

  &.error{
    max-width: 350px;
    border-left: 5px solid #e63946;
    background-color: #ffb3c1;
  }

  &:first-child{
    margin-top: 25px;
  }
}

.toast-container{
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  padding: 0 15px;

  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

.updater-toast{
  padding: 20px 25px;
  font-size: 0.9rem;

  
  h2{
    text-align: left;
  }

  p{
    margin-bottom: 20px;
  }

  button{
    font-size: 0.9rem;
    padding: 15px;
    display: inline-block;
    margin-right: 5px;
  }

  .install-later{
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover, &:active{
      text-decoration: underline;
    }
  }
}